html {
    background-color: aliceblue;
}

* {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.8px;
    box-sizing: border-box;
}

h1, nav, footer {
    text-align: center;
    margin: 15px;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

p.post-body {
    text-align: justify;
}

img {
    display: block;
}

img.right-align {
    margin-left: 10px;
}

.right-align {
    float: right;
}

.byline-date {
    font-size: 14px;
    color: #9c9c9c;
}
